<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.mapper.ReviewMapper">	
	
	<insert id="insertReview" parameterType="com.camp.vo.Review"
			useGeneratedKeys="true" keyColumn="reviewNo" keyProperty="reviewNo">
		INSERT INTO REVIEW (TITLE, CONTENT, CATEGORY, MEMBERID, RENTNO, CAMPNO)
		VALUES (#{title}, #{content}, #{category}, #{memberId}, #{rentNo}, #{campNo})
	</insert>
	
	<select id="selectReviewByRentNo" 
			parameterType="int" resultType="com.camp.vo.Review">
		SELECT 
			REVIEWNO,
			TITLE,
			CONTENT,
			CATEGORY,
			MEMBERID,
			RENTNO
		FROM REVIEW
		WHERE RENTNO = #{ rentNo }
	</select>
	
	<update id="updateReview" parameterType="com.camp.vo.Review">
		UPDATE REVIEW
		SET TITLE = #{ title }
			, CONTENT = #{ content }
			, CATEGORY = #{ category }
		WHERE REVIEWNO = #{ reviewNo }
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM REVIEW
		WHERE REVIEWNO = #{ reviewNo }
	</delete>
	
	<update id="BuyFlag" parameterType="com.camp.vo.Buy">
		UPDATE BUY
		SET FLAG = 1
		WHERE BUYNO = #{ buyNo }
	</update>
	
	<update id="RentFlag" parameterType="com.camp.vo.Rental">
		UPDATE RENTAL
		SET FLAG = 1
		WHERE RENTNO = #{ rentNo }
	</update>
	
	<update id="zeroRentFlag" parameterType="com.camp.vo.Rental">
		UPDATE RENTAL
		SET FLAG = 0
		WHERE RENTNO = #{ rentNo }
	</update>
	
	<!-- /////////////////////////////////////////////////////product review/////////////////////////////////// 관련 -->
	
	<insert id="insertptReview" parameterType="com.camp.vo.PTReview"
			useGeneratedKeys="true" keyColumn="ptreviewNo" keyProperty="ptreviewNo">
		INSERT INTO PTREVIEW (TITLE, CONTENT, MEMBERID, BUYNO, PRODUCTNO)
		VALUES (#{title}, #{content}, #{memberId}, #{buyNo}, #{productNo})
	</insert>
	
	<select id="selectptReviewByBuyNo" 
			parameterType="int" resultType="com.camp.vo.PTReview">
		SELECT 
			PTREVIEWNO,
			TITLE,
			CONTENT,
			MEMBERID,
			BUYNO
		FROM PTREVIEW
		WHERE BUYNO = #{ buyNo }
	</select>
	
	<update id="updateptReview" parameterType="com.camp.vo.PTReview">
		UPDATE PTREVIEW
		SET TITLE = #{ title }
			, CONTENT = #{ content }
		WHERE PTREVIEWNO = #{ ptreviewNo }
	</update>
	
	<update id="zeroBuyFlag" parameterType="com.camp.vo.Buy">
		UPDATE BUY
		SET FLAG = 0
		WHERE BUYNO = #{ buyNo }
	</update>
	
	<delete id="deleteptReview" parameterType="int">
		DELETE FROM PTREVIEW
		WHERE PTREVIEWNO = #{ ptreviewNo }
	</delete>
	
	
</mapper>

